.THIS {
  background-color: rgb(150, 190, 226);
}

.THIS .violet {
  background-color: blueviolet;
}

.THIS .red {
  background-color: rgb(216, 143, 143);
}

.THIS .green {
  background-color: rgb(165, 227, 165);
}

.THIS .orange {
  background-color: rgb(170, 98, 56);
}